{% extends 'mavka/base.html' %}
{% block title %} Index {% endblock title %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'mavka/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'creature_detail' creature.id %}" method="GET">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Creature Information: </h3></legend>
            {{ creature }}
            <br>
            <br>
            <a href="{% url 'update_creature' creature.id %}">Update Creature?</a>
        </fieldset>
    </form>
    {% include 'mavka/return_creatures_list.html' %}
{% endblock content %}