{% extends 'mavka/base.html' %}
{% block title %} Index {% endblock title %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'mavka/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'update_creature' creature.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Update Creature!</h1></legend>
                {% for field in form %}
                    <div>
                        <p>{{ field.label_tag }} {{ field }}</p>
                        {% if field.errors %}
                            <p>{{ field.errors }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="Update!">

        </fieldset>
    </form>
    {% include 'mavka/return_creatures_list.html' %}
{% endblock content %}